body {
    background-color: lightgray;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    margin:10px;
    

}

h1 {
    text-align: center;
    letter-spacing: 10px;
    font-size: 300%;
}

p {
    margin: 0 10%;
    text-indent: 50px;
}

.imagenIzq {
    float: left;
    margin: 0 10px 10px 0;
    width: 106px;
    height: 150px;
}

h2 {
    clear: both;
    background-color: grey;
    color: white;
    padding: 3px 5px;
}

